<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Policía Adicional</title>
<meta charset="utf-8" />
<link rel="shortcut icon" type="image/png" th:href="@{/imgs/icono.png}"/>
<link href="#" th:href="@{/css/all.min.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/menu.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/bread.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div>
<div class="wrapper">
<nav id="sidebar" th:insert="fragments/barralateral :: div">...</nav>
<div id="content">

<!--------------------------------------- INICIO ----------------------------------------------->

<div class="verticals ten offset-by-one">
	<ol class="breadcrumb breadcrumb-fill2">
		<li><a th:href="@{/panel/index}"><em class="fa fa-home"></em></a></li>
		<li><strong><a th:href="@{/panel/index}">Policía Adicional</a></strong></li> 
		<li class="active"><em>Feriados</em></li>
	</ol>
</div>

<div class="container">

<h4 class="titulo"><em class="fad fa-calendar-alt"></em> <span th:text="${titulo}"></span></h4><hr>
	

		<form action="#" th:action="@{/gestion/feriados/nuevo}" th:object="${feriado}" method="POST">
		<input type="hidden" th:field="*{id}"></input>
			<input type="hidden"></input>
				<div class="row">
					<div class="col-1"><p class="h6">Fecha:</p></div>
					<div class="col-3"><input type="date" class="form-control" th:field="*{fecha}" th:value="${fecha}" required></input></div>
				</div><br />
				<div class="row">
					<div class="col-1"><p class="h6">Descripción:</p></div>
					<div class="col-6"><input type="text" class="form-control" maxlength="100" th:field="*{descripcion}" th:value="${descripcion}" required></input></div>
				</div><br />
				<div class="row">
					<div class="col-1"><p class="h6">Tipo:</p></div>
						<div class="col-2">
							<select class="form-control" th:field="*{tipo}" th:value="${tipo}">
								<option th:value="'Comun'" th:text="Comun">Comun</option>
								<option th:value="'Bancario'" th:text="Bancario">Bancario</option>
								<option th:value="'Comercio'" th:text="Comercio">Comercio</option>
							</select>
						</div>
				</div>
				
				<div class="container text-right">
			<button class="btn btn-primary btn-lg" type="submit">
				<i class="fa fa-save"></i>
				Guardar
			</button>
			</div>
		</form>
		
		<a href="#" th:href="@{/gestion/feriados/listar}">
			<button class="btn btn-secondary btn-lg" type="submit">
				<i class="fa fa-backward"></i>
				Volver
			</button>
			
		</a>
		</div>
<!--------------------------------------- fin ----------------------------------------------->
</div></div></div></body></html>