<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Policía Adicional</title>
<link rel="shortcut icon" type="image/png" th:href="@{/imgs/icono.png}"/>
<link href="#" th:href="@{/css/all.min.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/menu.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/bread.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper">
<nav id="sidebar" th:insert="fragments/barralateral :: div">...</nav>
<div id="content">	
<!--------------------------------------- INICIO ----------------------------------------------->


<h4 class="titulo"><em class="fad fa-file-pdf"></em> Listado de Servicios Asignados</h4>
<hr>
<span>Listado generado correctamente</span>
<br><br>
<button class="btn btn-primary btn-lg" type="submit">
				<i class="fa fa-backward"></i>
				Volver
			</button>


<!--------------------------------------- FIN ----------------------------------------------->
</div></div></body></html>