<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Policía Adicional</title>
<link rel="shortcut icon" type="image/png" th:href="@{/imgs/icono.png}"/>
<link href="#" th:href="@{/css/all.min.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/menu.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/bread.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<style>
.zoom {
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 80px;
  height: 80px;
  margin: 0 auto;
  box-shadow: 3px 3px 3px grey;
}

.zoom:hover {
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>

<body>
<div class="wrapper">
<nav id="sidebar" th:insert="fragments/barralateral :: div">...</nav>
<div id="content">	

<!--------------------------------------- INICIO ----------------------------------------------->

<div th:if="${estado == 'creado'}" class="alert alert-success" role="alert">				
	<h4 class="alert-heading"><strong><em class="fa fa-check-circle"></em> Realizado correctamente</strong></h4>
</div> 

<div th:if="${estado == 'error'}" class="alert alert-danger" role="alert">				
	<h4 class="alert-heading"><strong><em class="fa fa-exclamation-triangle"></em> Error</strong></h4><hr>
	<p class="mb-0">Hubo un error al intentar modificar.</p>
</div>

<div class="verticals ten offset-by-one">
	<ol class="breadcrumb breadcrumb-fill2">
		<li><a th:href="@{/panel/index}"><em class="fa fa-home"></em></a></li>
		<li><strong><a th:href="@{/panel/index}">Policía Adicional</a></strong></li> 
		<li><strong><a th:href="@{/gestion/personal/listar}">Personal habilitado</a></strong></li>
		<li class="active"><em>Perfil de «<span th:text="${modeloPH.policia.persona.nombre}"></span>»</em></li>
	</ol>
</div>

<h4>
	<strong>
		<img class="zoom" th:src="@{'/fotos/personal/'+${modeloPH.foto}}" width="80" height="80" id="bannergrande" alt=""
		 th:onerror="this.onerror=null;this.src='/imgs/usuario_sin_foto.png';"> 
		● Perfil de «<span th:text="${modeloPH.policia.persona.nombre}"></span>»
	</strong>
</h4>
<hr>

<h4><em class="fad fa-user-alt"></em> Información del efectivo</h4>
<hr>
<dl class="row">
	<dt class="col-sm-3">DNI:</dt>
	<dd class="col-sm-9">
  		<strong><span th:text="${modeloPH.policia.persona.documento}" style="color:#135fb4;"></span></strong>
	</dd>
	<dt class="col-sm-3">N° de Agente:</dt>
	<dd class="col-sm-9">
  		<strong><span th:text="${modeloPH.policia.nroAgente}" style="color:#135fb4;"></span></strong>
	</dd>
	<dt class="col-sm-3">Destino actual:</dt>
	<dd class="col-sm-9">
  		<strong><span th:text="${modeloPH.policia.destino.descripcion}" style="color:#135fb4;"></span></strong>
	</dd>
	
	<dt class="col-sm-3">Jerarquía actual:</dt>
	<dd class="col-sm-9">
  		<strong><span th:text="${modeloPH.policia.jerarquia.descripcion}" style="color:#135fb4;"></span></strong>
	</dd>
	
	<dt class="col-sm-3">Posesión de arma</dt>
	<dd class="col-sm-9">
  		<span class="badge badge-success" th:if="${modeloPH.arma}">
			<em class="fa fa-check-circle"></em> SI
		</span>
		<span class="badge badge-danger" th:if="${!modeloPH.arma}">
			<em class="fa fa-times-circle"></em> NO
		</span>
	</dd>
	<dt class="col-sm-3">Posesión de uniforme</dt>
	<dd class="col-sm-9">
		<span class="badge badge-success" th:if="${modeloPH.uniforme}">
			<em class="fa fa-check-circle"></em> SI
		</span>
		<span class="badge badge-danger" th:if="${!modeloPH.uniforme}">
			<em class="fa fa-times-circle"></em> NO
		</span>
	</dd>
	<dt class="col-sm-3">Posesión de traje</dt>
	<dd class="col-sm-9">
	<span class="badge badge-success" th:if="${modeloPH.traje}">
			<em class="fa fa-check-circle"></em> SI
		</span>
		<span class="badge badge-danger" th:if="${!modeloPH.traje}">
			<em class="fa fa-times-circle"></em> NO
		</span>
	</dd>
	<dt class="col-sm-3">Vestimenta civil/formal</dt>
	<dd class="col-sm-9">
	<span class="badge badge-success" th:if="${modeloPH.civilFormal}">
			<em class="fa fa-check-circle"></em> SI
		</span>
		<span class="badge badge-danger" th:if="${!modeloPH.civilFormal}">
			<em class="fa fa-times-circle"></em> NO
		</span>
	</dd>
</dl>

<a href="#" th:href="@{/gestion/personal/editar?id=__${modeloPH.id}__}">
	<button class="btn btn-info btn-sm"><em class="fad fa-edit"></em> Modificar información (Policía Adicional)</button>
</a>
<a href="#" th:href="@{/gestion/personal/datospoliciales?id=__${modeloPH.policia.id}__}">
	<button class="btn btn-warning btn-sm"><em class="fad fa-edit"></em> Modificar datos policiales</button>
</a>
<a href="#" th:href="@{/gestion/personal/suspensiones?id=__${modeloPH.id}__}">
	<button class="btn btn-danger btn-sm"><em class="fad fa-edit"></em> Suspensiones</button>
</a>


<hr>
<div class="container text-right">

<a th:href="@{/gestion/personal/listado}">
	<button class="btn btn-secondary btn-lg"><em class="fad fa-backward"></em> Volver</button>
</a>
<a th:if="${generadoActual != null}" th:href="@{/gestion/servicios/efectivo?id=__${modeloPH.id}__&anio=__${anioActual}__&mes=__${mesActual}__}">
	<button class="btn btn-primary btn-lg"><em class="fad fa-calendar-alt"></em> Servicios de <span th:text="|${mesActualNombre} (${anioActual})|"></span></button>
</a>
<button disabled th:if="${generadoActual == null}" data-toggle="tooltip" title="No se generaron los servicios de este mes" class="btn btn-primary btn-lg"><em class="fad fa-calendar-alt"></em> Servicios de <span th:text="|${mesActualNombre} (${anioActual})|"></span></button>
<a th:if="${generadoProx != null}" th:href="@{/gestion/servicios/efectivo?id=__${modeloPH.id}__&anio=__${anioProx}__&mes=__${mesProx}__}">
	<button class="btn btn-primary btn-lg"><em class="fad fa-calendar-alt"></em> Servicios de <span th:text="|${mesProxNombre} (${anioProx})|"></span></button>
</a>
<button disabled th:if="${generadoProx == null}" data-toggle="tooltip" title="No se generaron los servicios de este mes" class="btn btn-primary btn-lg"><em class="fad fa-calendar-alt"></em> Servicios de <span th:text="|${mesProxNombre} (${anioProx})|"></span></button>

</div>

<!--------------------------------------- FIN ----------------------------------------------->


	</div>
	</div>

      


</body>
</html>